body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
}
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E7E9FC;
  
}
header .container{
  display: flex;
}

.logo-container {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5; 
  display: flex;
  align-items: center;
}
.logo{
  margin-right: 76px;
}
.logo-black {
  color: #2e2f42;
}

.menu-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation{
  display: flex;
  align-items: center;
}
.menu-item {
  margin-right: 40px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-link {
  padding: 24px 0;
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.contact-list {
  display: flex;
  list-style: none;
}

.contact-item {
  margin-right: 40px;
}

.contact-item:last-child {
  margin-right: 0;
}

.contact-link {
  text-decoration: none;
  color: #434455;
  letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* Hero */
.hero {
  background-color: #2e2f42;
  color: #ffffff;
  text-align: center;
  padding: 188px 0;
}

.hero h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  max-width: 496px;
}

.hero-button {
  border: none;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em; 
  display: block; 
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Advantages */
.advantages{
  padding: 120px 0;
}
.advantages ul {
  list-style: none;
  display: flex;
}
.strategy{
  gap: 24px;
}
.option-one {
  width: calc((100% - 72px) / 4);
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
}
.description{
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    line-height: 1.5;
}
/* Team */
.team {
  background-color: #f4f4fd;
  text-align: center;
  padding: 120px 0;
}
.tree-list{
  gap: 24px;
}
.mark{
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px; 
}
.informacja{
  padding: 32px 0;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  margin-bottom: 72px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team ul {
  list-style: none;
  display: flex;
}

.team li {
  background: #ffffff;
}

.foto {
  object-fit: cover;
}
.description-team{
     letter-spacing: 0.02em; 
     font-size: 16px; 
}
.name-port{
    color:  #2e2f42;
    letter-spacing: 0.02em;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 500;
}

/* Portfolio */
.portfolio {
  text-align: center;
  padding-top: 120px; 
  padding-bottom: 120px;
}

.name-port {
  margin: 0 16px 8px; 
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.option {
  
  background: #fff;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio p {
  font-size: 16px;
  color: #434455;
  margin: 0 16px 16px 16px;
  letter-spacing: 0.02em;
}
.info{
  padding: 32px 16px;
  border: 1px solid #e7e9fc; 
  border-top: none; 
}


/* Footer */
.footer{
  padding: 100px 0;
}
footer {
  background-color: #2e2f42;
  color: #ffffff;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-bottom: 16px; 
  display: inline-block; 
}

.logo-white {
  color: #f4f4fd;
}
.footer-text {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
}
img{
  display: block;
}
.container{
  width: 1158px;
  padding-left: 156px;
  padding-right: 156px;
  margin: 0 auto;
  padding: 0 15px; 
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


