body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
}
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E7E9FC;
  
}
header .container{
  display: flex;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5; 
  margin-right: 76px;
}

.logo-black {
  color: #2e2f42;
}

.menu-main {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em; 
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address-info {
  font-style: normal;
}

.address-info ul {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-link {
  text-decoration: none;
  color: #434455;
  letter-spacing: 0.02em;
}


.address-info a:hover,
.address-info a:focus {
  color: #404bbf;
}

/* Hero */
.hero {
  background-color: #2e2f42;
  color: #ffffff;
  text-align: center;
}

.hero h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.hero-button {
  border: none;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em; 
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Advantages */
.advantages ul {
  list-style: none;
  display: flex;
}


.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
}
.description{
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    line-height: 1.5;
}
/* Team */
.team {
  background-color: #f4f4fd;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  margin-bottom: 72px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team ul {
  list-style: none;
  display: flex;
}

.team li {
  background: #ffffff;
}

.foto {
  object-fit: cover;
}
.description-team{
     letter-spacing: 0.02em; 
     font-size: 16px; 
}
.name-port{
    color:  #2e2f42;
    letter-spacing: 0.02em;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 500;
}

/* Portfolio */
.portfolio {
  text-align: center;
}

.portfolio h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.portfolio ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.portfolio li {
  background: #fff;
  flex: 0 0 calc(33.333% - 10px);
}

.portfolio h3 {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  margin: 16px;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.portfolio p {
  font-size: 16px;
  color: #434455;
  margin: 0 16px 16px 16px;
  letter-spacing: 0.02em;
}

/* Footer */
footer {
  background-color: #2e2f42;
  color: #ffffff;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.logo-white {
  color: #f4f4fd;
}
.footer-text {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
}
img{
  display: block;
}
.container{
  width: 1158px;
  padding-left: 156px;
  padding-right: 156px;
  margin: 0 auto;
  padding: 0 15px; 
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


